<header class="home-header">

    <div class="headerCodeBlock">
        <h2>Wir bauen ...</h2><br/><br/>
        ... gerade an unserer neuen Website!<br/>
        <br/>        
        Kontaktieren Sie uns einfach direkt:
        <br/> - per Telefon: +43-7224-22240-0
        <br/> - per Email: <a href="mailto:office@schneider-bauerneuerung.at">office@schneider-bauerneuerung.at</a>
        <br/><br/>
        Unsere Adresse: Wiener Straße 36, 4490 St. Florian
    </div>
    <!-- <div>
        `​`` html
           <a href="#">Hello world</a>
        `​``
    </div>
    <div>
        {% highlight javascript %}
document.write("JavaScript is a simple language for javatpoint learners");
{% endhighlight %}
    </div> -->
    <!-- {% for slot in site.data.carousel.slots %}
            <header id="slot-{{ forloop.index0 }}" class="slot{% if forloop.index0 == 0 %} visible{% endif %}">
                <div class="header-content">
                    <div class="header-content-inner">
                        <h2><span class="h2-content"></span></h2>
                        <h1><span class="h1-content"></span></h1>
                        <h3><span class="p-content"></span></h3>
                    </div>
                </div>
                <small class="picture-info"></small>
            </header> 
    {% endfor %}

    <a id="prev" >&#10094;</a>
    <a id="next" >&#10095;</a>

    <div id="progress-bar">
        <div id="progress"></div>
    </div> -->

</header>